.top {
  width: 100vw;
  height: 300px;
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  background: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  align-items: center;
  justify-content: space-between;
}

.top .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.top .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top .title h4,
.top .title p {
  margin: 0px;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

ul li {
  margin: 0px 10px;
}

ul li a {
  background-color: white;
  color: blue;
  padding: 6px 8px;
  border-radius: 4px;
  text-decoration: none;
}

.title h4 {
  color: white;
  font-size: 30px;
}

.title p {
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  .top .header img {
    width: 150px;
  }
}

.middle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.heading {
  text-align: center;
  font-size: 30px;
}

.bottom {
  display: grid;
  border-top: 1px solid black;
  height: 75px;
  grid-template-columns: repeat(3, 1fr);
}

.bottom p,
.bottom ul,
.bottom h3 {
  margin: auto;
}

@media only screen and (max-width: 1100px) {
  .middle {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .middle {
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 550px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
    height: 100px;
  }
}

@media only screen and (max-width: 530px) {
  .middle {
    grid-template-columns: repeat(1, 1fr);
  }
}
