.blogCard {
  margin: 25px auto;
  border: 1px solid gray;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 12px;
}

.blogCard img {
  border-radius: 12px;
}

.blogCard .metaContent {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.blogCard .metaContent a,
.blogCard .metaContent p {
  font-size: 12px;
}
.blogCard .metaContent a {
  color: black;
  font-weight: bold;
}
.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.buttonWrapper .update {
  color: white;
  padding: 6px;
  border-radius: 6px;
  background-color: blue;
  border: 1px solid black;
}

.buttonWrapper .delete {
  background-color: #ed2b2a;
  color: white;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid black;
}
